<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 모든 작업 컨텐츠가 들어오는 곳 -->
<div layout:fragment="content" class="content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <div>
            <tr th:each="article : ${articles}" th:object="${article}">
                <th scope="row" th:text="*{id}">1</th>
                <td>
                    <a href="" th:text="*{title}">제목111 </a>
                </td>
                <td th:text="*{content}">내용 1111</td>
            </tr>
        </div>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" align="center">
        <ul class="pagination">
            <!--  왼쪽 끝 이동 단추 -->
            <li class="page-item"
                th:classappend="${articles.number}<=0? 'disabled'">
                <a class="page-link"
                   th:href="@{|/articles?page=${articles.number-1}|}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!--  페이지 번호 시작 -->
            <th:block th:each="pageNumber : ${pageBars}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{|/articles?page=${pageNumber}|}"
                       th:text="${pageNumber + 1}">1</a>
                </li>
            </th:block>
            <!--  페이지 번호 끝 -->

            <!--  오른쪽 끝 이동 단추 -->
            <li class="page-item"
                th:classappend="${articles.number + 1} == ${articles.totalPages}? 'disabled'">
                <a class="page-link"
                   th:href="@{|/articles?page=${articles.number+1}|}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <a href="/templates/articles/new">New Article</a>
</div>
</body>
</html>