<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 모든 작업 컨텐츠가 들어오는 곳 -->
<div layout:fragment="content" class="content">
    <table class="table m-2">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${dto.id}">1</th>
            <td th:text="${dto.title}">제목111</td>
            <td th:text="${dto.content}">내용 1111</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{|/articles/${dto.id}/update|}" class="btn btn-primary">Edit</a>
    <a th:href="@{|/articles/${dto.id}/delete|}" class="btn btn-danger">Delete</a>
    <a href="/articles">Go to Article List</a>
    <br><br>
    <!-- 댓글    -->
    <div class="card m-2" th:each="comment : ${dto.comments}" th:object="${comment}">
        <div class="card-header">
            <!--  닉네임          -->
            <span th:text="*{nickname}">Featured</span>
            <a class="btn btn-sm btn-outline-primary">수정</a>
            <a class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>
        </div>
        <!-- 댓글의 내용(body) -->
        <div class="card-body">
            <p class="card-text" th:text="*{body}">
                With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>

    <form>
        <!-- 닉네임 입력-->
        <div class="m-2">
            <label class="form-label">닉네임</label>
            <input type="text" class="form-control" id="new-comment-nickname">
        </div>
        <!-- 댓글 본문 입력-->
        <div class="m-2">
            <label class="form-label">댓글 내용</label>
            <textarea type="text" class="form-control" rows="3" id="new-comment-body"></textarea>
        </div>
        <!-- 전송버튼-->
        <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
    </form>
    <!-- th:inline 은 자바스크립트에서 ${~~} 타임리프 객체 지정을 할 수 있는 스크립트-->
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function(){
            // 댓글 작성 버튼 이벤트
            const commentCreateButton = document.getElementById('comment-create-btn');

            commentCreateButton.addEventListener('click', function(event){
                //  작성버튼 중간에 누를 때 이미 작성한 인풋상자 안 지우기
                event.preventDefault();
                // 닉네임과 바디를 찾아서 변수로 할당
                const nicknameInput = document.getElementById('new-comment-nickname');
                const bodyInput = document.getElementById('new-comment-body');

                // 닉네임과 바디가 비었는지 확인
                if(nicknameInput.value == ''){
                    alert('닉네임을 입력하세요');
                    nicknameInput.focus();
                    return;
                }
                if(bodyInput.value == ''){
                    alert('내용을 입력하세요');
                    bodyInput.focus();
                    return;
                }
                // 전송할 url을 변수로 만들기
                const sendUrl = `/api/articles/[[${dto.id}]]/comments`;
                // 추가할 댓글을 json으로 만들기
                const newComment = {
                        "nickname" : nicknameInput.value,
                        "body" : bodyInput.value
                }

                // fetch 함수로 api 호출하기
                fetch(sendUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json'
                    },
                    body: JSON.stringify(newComment)
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.href=`/articles/[[${dto.id}]]`
                })
                .catch(error => {
                    console.log('Error : ', error);
                })
            })
        })
    </script>
</div>
</body>
</html>